define([
], function() {

  return config = {
  options: {
    debug: true
  },
  connection: {
    cluster: "aws",
    reconnect: true
  },
  identity: {
    username: "<user>",
    password: "<visit http://twitchapps.com/tmi/>"
  },
  channels: ["<user>"]
};
});
